header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 2px solid black;
}

.hoda{
    width: 50%;
    background-color: red;
    display: flex;
    justify-content: space-between;
}
.hoda > div{
    border: 2px solid black;
    width: 20%;
}